In [2]:
lst = ["Ali", "Khadim","Hassan","Murtaza","Nash"]
lst2 = ["Atta", "Junaid", "Raheel", "Khurram", "Asad"]
lst+lst2

['Ali',
 'Khadim',
 'Hassan',
 'Murtaza',
 'Nash',
 'Atta',
 'Junaid',
 'Raheel',
 'Khurram',
 'Asad']

In [9]:
lst.clear()
lst2.clear()
lst = ["Ali", "Khadim","Hassan","Murtaza","Nash"]
lst2 = ["Atta", "Junaid", "Raheel", "Khurram", "Asad"]
lst.append("Ahmad")
lst

['Ali', 'Khadim', 'Hassan', 'Murtaza', 'Nash', 'Ahmad']

In [10]:
lst.clear()
lst

[]

In [11]:
lst = ["Ali", "Khadim","Hassan","Murtaza","Nash"]
lst3 = lst.copy()
lst3

['Ali', 'Khadim', 'Hassan', 'Murtaza', 'Nash']

In [12]:
lst.count("Ali")

1

In [13]:
lst.extend(lst2)
lst

['Ali',
 'Khadim',
 'Hassan',
 'Murtaza',
 'Nash',
 'Atta',
 'Junaid',
 'Raheel',
 'Khurram',
 'Asad']

In [14]:
lst.index("Raheel")

7

In [15]:
lst.insert(8, "Salman")

In [16]:
lst

['Ali',
 'Khadim',
 'Hassan',
 'Murtaza',
 'Nash',
 'Atta',
 'Junaid',
 'Raheel',
 'Salman',
 'Khurram',
 'Asad']

In [17]:
lst.pop()
lst

['Ali',
 'Khadim',
 'Hassan',
 'Murtaza',
 'Nash',
 'Atta',
 'Junaid',
 'Raheel',
 'Salman',
 'Khurram']

In [18]:
lst.remove("Khurram")
lst

['Ali',
 'Khadim',
 'Hassan',
 'Murtaza',
 'Nash',
 'Atta',
 'Junaid',
 'Raheel',
 'Salman']

In [19]:
lst.reverse()
lst

['Salman',
 'Raheel',
 'Junaid',
 'Atta',
 'Nash',
 'Murtaza',
 'Hassan',
 'Khadim',
 'Ali']

In [20]:
lst.sort(casefold=True)

TypeError: 'casefold' is an invalid keyword argument for sort()